# Consider only the below columns and prepare a prediction model for predicting Price.

# Corolla<-Corolla[c("Price","Age_08_04","KM","HP","cc","Doors","Gears","Quarterly_Tax","Weight")]

 

# Model -- model of the car
# Price  -- Offer Price in EUROs	
# Age_08_04 -- Age in months as in August 2004	
# Mfg_Month -- Manufacturing month (1-12)	
# Mfg_Year	-- Manufacturing Year
# KM -- Accumulated Kilometers on odometer
# Fuel_Type	 -- Fuel Type (Petrol, Diesel, CNG)
# HP -- Horse Power
# Met_Color	 -- Metallic Color?  (Yes=1, No=0)
# Color -- Color (Blue, Red, Grey, Silver, Black, etc.)
# Automatic	-- Automatic ( (Yes=1, No=0)
# cc -- Cylinder Volume in cubic centimeters
# Doors -- Number of doors
# Cylinders	-- Number of cylinders
# Gears -- Number of gear positions
# Quarterly_Tax -- Quarterly road tax in EUROs
# Weight -- Weight in Kilograms
# Mfr_Guarantee -- Within Manufacturer's Guarantee period  (Yes=1, No=0)
# BOVAG_Guarantee -- BOVAG (Dutch dealer network) Guarantee  (Yes=1, No=0)
# Guarantee_Period -- 	Guarantee period in months
# ABS -- Anti-Lock Brake System (Yes=1, No=0)
# Airbag_1 -- Driver_Airbag  (Yes=1, No=0)
# Airbag_2 -- Passenger Airbag  (Yes=1, No=0)
# Airco -- Airconditioning  (Yes=1, No=0)
# Automatic_airco -- Automatic Airconditioning  (Yes=1, No=0)
# Boardcomputer -- Boardcomputer  (Yes=1, No=0)
# CD_Player -- CD Player  (Yes=1, No=0)
# Central_Lock -- Central Lock  (Yes=1, No=0)
# Powered_Windows -- Powered Windows  (Yes=1, No=0)
# Power_Steering -- Power Steering  (Yes=1, No=0)
# Radio -- Radio  (Yes=1, No=0)
# Mistlamps	-- Mistlamps  (Yes=1, No=0)
# Sport_Model -- Sport Model  (Yes=1, No=0)
# Backseat_Divider -- Backseat Divider  (Yes=1, No=0)
# Metallic_Rim --Metallic Rim  (Yes=1, No=0)
# Radio_cassette -- Radio Cassette  (Yes=1, No=0)
# Tow_Bar -- Tow Bar  (Yes=1, No=0)

In [1]:
import pandas as pd
df = pd.read_csv('ToyotaCorolla.csv',encoding='latin1')
df.head()

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,1,0,0,0,1,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,1,0,1,0,0,0,1,0,0,0
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,0,1,0,0,0,1,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,0,1,0,0,0,1,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,1,0,1,0,1,0,0,0

In [4]:
df = df[["Price","Age_08_04","KM","HP","cc","Doors","Gears","Quarterly_Tax","Weight"]]
df.head()

   Price  Age_08_04     KM  HP    cc  Doors  Gears  Quarterly_Tax  Weight
0  13500         23  46986  90  2000      3      5            210    1165
1  13750         23  72937  90  2000      3      5            210    1165
2  13950         24  41711  90  2000      3      5            210    1165
3  14950         26  48000  90  2000      3      5            210    1165
4  13750         30  38500  90  2000      3      5            210    1170

In [6]:
df.corr()

,Price,Age_08_04,KM,HP,cc,Doors,Gears,Quarterly_Tax,Weight
Price,1.000000,-0.876590,-0.569960,0.314990,0.126389,0.185326,0.063104,0.219197,0.581198
Age_08_04,-0.876590,1.000000,0.505672,-0.156622,-0.098084,-0.148359,-0.005364,-0.198431,-0.470253
KM,-0.569960,0.505672,1.000000,-0.333538,0.102683,-0.036197,0.015023,0.278165,-0.028598
HP,0.314990,-0.156622,-0.333538,1.000000,0.035856,0.092424,0.209477,-0.298432,0.089614
cc,0.126389,-0.098084,0.102683,0.035856,1.000000,0.079903,0.014629,0.306996,0.335637
Doors,0.185326,-0.148359,-0.036197,0.092424,0.079903,1.000000,-0.160141,0.109363,0.302618
Gears,0.063104,-0.005364,0.015023,0.209477,0.014629,-0.160141,1.000000,-0.005452,0.020613
Quarterly_Tax,0.219197,-0.198431,0.278165,-0.298432,0.306996,0.109363,-0.005452,1.000000,0.626134
Weight,0.581198,-0.470253,-0.028598,0.089614,0.335637,0.302618,0.020613,0.626134,1.000000

In [5]:
Y = df[['Price']]
Y.head()

   Price
0  13500
1  13750
2  13950
3  14950
4  13750

In [10]:
import numpy as np
X1 = df[['Age_08_04']]
X2 = df[['Age_08_04','KM']]
X3 = df[['Age_08_04','KM','HP']]
X4 = df[['Age_08_04','KM','HP','cc']]
X5 = df[['Age_08_04','KM','HP','cc','Doors']]
X6 = df[['Age_08_04','KM','HP','cc','Doors','Gears']]
X7 = df[['Age_08_04','KM','HP','cc','Doors','Gears','Quarterly_Tax']]
X8 = df[['Age_08_04','KM','HP','cc','Doors','Gears','Quarterly_Tax','Weight']]
X9 = pow(X1,2)
X10 = pow(X1,3)
X11 = np.sqrt(X1)
X12 = np.cbrt(X1)
X13 = pow(X2,2)
X14 = pow(X2,3)
X15 = np.sqrt(X2)
X16 = np.cbrt(X2)
X17 = pow(X3,2)
X18 = pow(X3,3)
X19 = np.sqrt(X3)
X20 = np.cbrt(X3)
X21 = pow(X4,2)
X22 = pow(X4,3)
X23 = np.sqrt(X4)
X24 = np.cbrt(X4)
X25 = pow(X5,2)
X26 = pow(X5,3)
X27 = np.sqrt(X5)
X28 = np.cbrt(X5)
X29 = pow(X6,2)
X30 = pow(X6,3)
X31 = np.sqrt(X6)
X32 = np.cbrt(X6)
X33 = pow(X7,2)
X34 = pow(X7,3)
X35 = np.sqrt(X7)
X36 = np.cbrt(X7)
X37 = pow(X8,2)
X38 = pow(X8,3)
X39 = np.sqrt(X8)
X40 = np.cbrt(X8)

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score
LR = LinearRegression()
LR.fit(X1,Y)

LinearRegression()

In [15]:
Y1_pred = LR.predict(X1)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y1_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y1_pred))).round(2))
print('R^2 is',r2_score(Y,Y1_pred).round(2))

Intercept is [20294.05864891]
coef is [[-170.93358501]]
MSE is 3044403.46
RMSE is 1744.82
R^2 is 0.77

In [16]:
LR.fit(X2,Y)
Y2_pred = LR.predict(X2)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y2_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y2_pred))).round(2))
print('R^2 is',r2_score(Y,Y2_pred).round(2))

Intercept is [20483.11353361]
coef is [[-1.54149180e+02 -1.64605221e-02]]
MSE is 2760910.65
RMSE is 1661.6
R^2 is 0.79

In [18]:
LR.fit(X3,Y)
Y3_pred = LR.predict(X3)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y3_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y3_pred))).round(2))
print('R^2 is',r2_score(Y,Y3_pred).round(2))

Intercept is [16450.18878418]
coef is [[-1.54626264e+02 -1.14621494e-02  3.66205409e+01]]
MSE is 2493659.96
RMSE is 1579.13
R^2 is 0.81

In [19]:
LR.fit(X4,Y)
Y4_pred = LR.predict(X4)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y4_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y4_pred))).round(2))
print('R^2 is',r2_score(Y,Y4_pred).round(2))

Intercept is [15745.03350737]
coef is [[-1.52329063e+02 -1.27677446e-02  3.54729114e+01  4.96302230e-01]]
MSE is 2451398.51
RMSE is 1565.69
R^2 is 0.81

In [20]:
LR.fit(X5,Y)
Y5_pred = LR.predict(X5)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y5_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y5_pred))).round(2))
print('R^2 is',r2_score(Y,Y5_pred).round(2))

Intercept is [15081.08990029]
coef is [[-1.50776456e+02 -1.31005438e-02  3.44423125e+01  4.74438571e-01
   1.83211829e+02]]
MSE is 2422001.63
RMSE is 1556.28
R^2 is 0.82

In [21]:
LR.fit(X6,Y)
Y6_pred = LR.predict(X6)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y6_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y6_pred))).round(2))
print('R^2 is',r2_score(Y,Y6_pred).round(2))

Intercept is [11204.72359141]
coef is [[-1.50338232e+02 -1.35905763e-02  3.18297162e+01  4.73515369e-01
   2.13030210e+02  8.02115225e+02]]
MSE is 2401129.41
RMSE is 1549.56
R^2 is 0.82

In [22]:
LR.fit(X6,Y)
Y6_pred = LR.predict(X6)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y6_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y6_pred))).round(2))
print('R^2 is',r2_score(Y,Y6_pred).round(2))

Intercept is [11204.72359141]
coef is [[-1.50338232e+02 -1.35905763e-02  3.18297162e+01  4.73515369e-01
   2.13030210e+02  8.02115225e+02]]
MSE is 2401129.41
RMSE is 1549.56
R^2 is 0.82

In [23]:
LR.fit(X7,Y)
Y7_pred = LR.predict(X7)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y7_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y7_pred))).round(2))
print('R^2 is',r2_score(Y,Y7_pred).round(2))

Intercept is [9980.65868171]
coef is [[-1.36385511e+02 -2.00763524e-02  4.35742800e+01  1.06625996e-01
   1.57948288e+02  6.20143248e+02  1.61981045e+01]]
MSE is 2107415.58
RMSE is 1451.69
R^2 is 0.84

In [24]:
LR.fit(X8,Y)
Y8_pred = LR.predict(X8)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y8_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y8_pred))).round(2))
print('R^2 is',r2_score(Y,Y8_pred).round(2))

Intercept is [-5573.10635791]
coef is [[-1.21658402e+02 -2.08171292e-02  3.16809058e+01 -1.21100301e-01
  -1.61664095e+00  5.94319936e+02  3.94908076e+00  1.69586318e+01]]
MSE is 1790935.61
RMSE is 1338.26
R^2 is 0.86

In [25]:
LR.fit(X9,Y)
Y9_pred = LR.predict(X9)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y9_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y9_pred))).round(2))
print('R^2 is',r2_score(Y,Y9_pred).round(2))

Intercept is [16304.98758203]
coef is [[-1.60370933]]
MSE is 4478675.13
RMSE is 2116.29
R^2 is 0.66

In [26]:
LR.fit(X10,Y)
Y10_pred = LR.predict(X10)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y10_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y10_pred))).round(2))
print('R^2 is',r2_score(Y,Y10_pred).round(2))

Intercept is [14714.4640929]
coef is [[-0.01748469]]
MSE is 5790681.83
RMSE is 2406.38
R^2 is 0.56

In [27]:
LR.fit(X11,Y)
Y11_pred = LR.predict(X11)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y11_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y11_pred))).round(2))
print('R^2 is',r2_score(Y,Y11_pred).round(2))

Intercept is [27176.57085778]
coef is [[-2241.19358852]]
MSE is 2588995.42
RMSE is 1609.04
R^2 is 0.8

In [28]:
LR.fit(X12,Y)
Y12_pred = LR.predict(X12)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y12_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y12_pred))).round(2))
print('R^2 is',r2_score(Y,Y12_pred).round(2))

Intercept is [33666.08997325]
coef is [[-6105.67894955]]
MSE is 2582246.03
RMSE is 1606.94
R^2 is 0.8

In [29]:
LR.fit(X13,Y)
Y13_pred = LR.predict(X13)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y13_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y13_pred))).round(2))
print('R^2 is',r2_score(Y,Y13_pred).round(2))

Intercept is [16440.85564301]
coef is [[-1.48363684e+00 -9.06529590e-08]]
MSE is 4130039.32
RMSE is 2032.25
R^2 is 0.69

In [30]:
LR.fit(X14,Y)
Y14_pred = LR.predict(X14)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y14_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y14_pred))).round(2))
print('R^2 is',r2_score(Y,Y14_pred).round(2))

Intercept is [14815.96177708]
coef is [[-1.65625807e-02 -4.68977378e-13]]
MSE is 5453818.69
RMSE is 2335.34
R^2 is 0.59

In [31]:
LR.fit(X15,Y)
Y15_pred = LR.predict(X15)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y15_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y15_pred))).round(2))
print('R^2 is',r2_score(Y,Y15_pred).round(2))

Intercept is [27372.98688077]
coef is [[-2012.79398401    -7.45333603]]
MSE is 2397336.2
RMSE is 1548.33
R^2 is 0.82

In [32]:
LR.fit(X16,Y)
Y16_pred = LR.predict(X16)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y16_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y16_pred))).round(2))
print('R^2 is',r2_score(Y,Y16_pred).round(2))

Intercept is [33791.02574281]
coef is [[-5549.7626121    -56.22976615]]
MSE is 2455292.04
RMSE is 1566.94
R^2 is 0.81

In [33]:
LR.fit(X17,Y)
Y17_pred = LR.predict(X17)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y17_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y17_pred))).round(2))
print('R^2 is',r2_score(Y,Y17_pred).round(2))

Intercept is [14152.75605636]
coef is [[-1.46484176e+00 -6.42399642e-08  1.95838750e-01]]
MSE is 3744127.08
RMSE is 1934.97
R^2 is 0.72

In [34]:
LR.fit(X18,Y)
Y18_pred = LR.predict(X18)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y18_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y18_pred))).round(2))
print('R^2 is',r2_score(Y,Y18_pred).round(2))

Intercept is [13290.43395814]
coef is [[-1.61300517e-02 -3.51173396e-13  1.20717929e-03]]
MSE is 4913671.13
RMSE is 2216.68
R^2 is 0.63

In [35]:
LR.fit(X19,Y)
Y19_pred = LR.predict(X19)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y19_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y19_pred))).round(2))
print('R^2 is',r2_score(Y,Y19_pred).round(2))

Intercept is [19523.38652143]
coef is [[-2033.57071864    -4.90804738   732.76242939]]
MSE is 2134441.29
RMSE is 1460.97
R^2 is 0.84

In [36]:
LR.fit(X20,Y)
Y20_pred = LR.predict(X20)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y20_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y20_pred))).round(2))
print('R^2 is',r2_score(Y,Y20_pred).round(2))

Intercept is [21698.04250335]
coef is [[-5615.6062193    -33.46669368  2459.27064638]]
MSE is 2168510.72
RMSE is 1472.59
R^2 is 0.84

In [37]:
LR.fit(X21,Y)
Y21_pred = LR.predict(X21)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y21_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y21_pred))).round(2))
print('R^2 is',r2_score(Y,Y21_pred).round(2))

Intercept is [14100.6028044]
coef is [[-1.46058653e+00 -6.49604529e-08  1.95124926e-01  1.84792893e-05]]
MSE is 3728790.71
RMSE is 1931.01
R^2 is 0.72

In [38]:
LR.fit(X22,Y)
Y22_pred = LR.predict(X22)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y22_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y22_pred))).round(2))
print('R^2 is',r2_score(Y,Y22_pred).round(2))

Intercept is [13277.42947495]
coef is [[-1.61011514e-02 -3.51367810e-13  1.20622122e-03  1.10998160e-09]]
MSE is 4899332.62
RMSE is 2213.44
R^2 is 0.63

In [39]:
LR.fit(X23,Y)
Y23_pred = LR.predict(X23)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y23_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y23_pred))).round(2))
print('R^2 is',r2_score(Y,Y23_pred).round(2))

Intercept is [16632.30911312]
coef is [[-1971.73119624    -6.2784439    690.62584062    80.98536538]]
MSE is 2071282.83
RMSE is 1439.2
R^2 is 0.84

In [40]:
LR.fit(X24,Y)
Y24_pred = LR.predict(X24)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y24_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y24_pred))).round(2))
print('R^2 is',r2_score(Y,Y24_pred).round(2))

Intercept is [16945.21378379]
coef is [[-5433.05139034   -46.3210833   2326.01371194   447.44914875]]
MSE is 2108579.42
RMSE is 1452.09
R^2 is 0.84

In [41]:
LR.fit(X25,Y)
Y25_pred = LR.predict(X25)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y25_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y25_pred))).round(2))
print('R^2 is',r2_score(Y,Y25_pred).round(2))

Intercept is [13508.76586688]
coef is [[-1.44006861e+00 -6.69143834e-08  1.90023581e-01  1.73820993e-05
   3.42972545e+01]]
MSE is 3662172.09
RMSE is 1913.68
R^2 is 0.72

In [42]:
LR.fit(X26,Y)
Y26_pred = LR.predict(X26)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y26_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y26_pred))).round(2))
print('R^2 is',r2_score(Y,Y26_pred).round(2))

Intercept is [12680.56619679]
coef is [[-1.58234485e-02 -3.58115108e-13  1.18864875e-03  1.03433977e-09
   7.29456836e+00]]
MSE is 4785019.56
RMSE is 2187.47
R^2 is 0.64

In [43]:
LR.fit(X27,Y)
Y27_pred = LR.predict(X27)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y27_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y27_pred))).round(2))
print('R^2 is',r2_score(Y,Y27_pred).round(2))

Intercept is [15768.03421232]
coef is [[-1956.9688655     -6.38770522   675.20025938    77.91685337
    531.52772474]]
MSE is 2055633.67
RMSE is 1433.75
R^2 is 0.84

In [44]:
LR.fit(X28,Y)
Y28_pred = LR.predict(X28)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y28_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y28_pred))).round(2))
print('R^2 is',r2_score(Y,Y28_pred).round(2))

Intercept is [15836.5684838]
coef is [[-5397.48192679   -47.11687855  2282.22470951   430.25243252
    891.32060216]]
MSE is 2096173.55
RMSE is 1447.82
R^2 is 0.84

In [45]:
LR.fit(X29,Y)
Y29_pred = LR.predict(X29)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y29_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y29_pred))).round(2))
print('R^2 is',r2_score(Y,Y29_pred).round(2))

Intercept is [12627.97789486]
coef is [[-1.43877983e+00 -6.79475836e-08  1.83518123e-01  1.73990393e-05
   3.60747133e+01  3.63830811e+01]]
MSE is 3657521.72
RMSE is 1912.46
R^2 is 0.72

In [46]:
LR.fit(X30,Y)
Y30_pred = LR.predict(X30)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y30_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y30_pred))).round(2))
print('R^2 is',r2_score(Y,Y30_pred).round(2))

Intercept is [12748.4989036]
coef is [[-1.58248244e-02 -3.57664227e-13  1.19313829e-03  1.03417282e-09
   7.26051807e+00 -5.51391894e-01]]
MSE is 4784951.05
RMSE is 2187.45
R^2 is 0.64

In [47]:
LR.fit(X31,Y)
Y31_pred = LR.predict(X31)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y31_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y31_pred))).round(2))
print('R^2 is',r2_score(Y,Y31_pred).round(2))

Intercept is [6746.18076037]
coef is [[-1949.42523201    -6.66896023   621.87307954    77.28525221
    664.10144902  4163.83826449]]
MSE is 2027899.86
RMSE is 1424.04
R^2 is 0.85

In [48]:
LR.fit(X32,Y)
Y32_pred = LR.predict(X32)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y32_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y32_pred))).round(2))
print('R^2 is',r2_score(Y,Y32_pred).round(2))

Intercept is [2258.15887219]
coef is [[-5376.88805556   -49.50875306  2119.7841799    424.96334929
   1138.22358938  8186.95086707]]
MSE is 2068298.25
RMSE is 1438.16
R^2 is 0.84

In [49]:
LR.fit(X33,Y)
Y33_pred = LR.predict(X33)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y33_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y33_pred))).round(2))
print('R^2 is',r2_score(Y,Y33_pred).round(2))

Intercept is [11535.39977479]
coef is [[-1.27442297e+00 -1.17126794e-07  2.37104607e-01  1.14623429e-05
   2.88286914e+01  2.25293459e+01  8.06100129e-02]]
MSE is 3088577.02
RMSE is 1757.43
R^2 is 0.77

In [50]:
LR.fit(X34,Y)
Y34_pred = LR.predict(X34)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y34_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y34_pred))).round(2))
print('R^2 is',r2_score(Y,Y34_pred).round(2))

Intercept is [11960.60223564]
coef is [[-1.41740266e-02 -6.11677753e-13  1.42359413e-03  1.03007891e-09
   6.25887287e+00 -1.17528645e+00  3.86083309e-04]]
MSE is 4017371.54
RMSE is 2004.34
R^2 is 0.69

In [51]:
LR.fit(X35,Y)
Y35_pred = LR.predict(X35)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y35_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y35_pred))).round(2))
print('R^2 is',r2_score(Y,Y35_pred).round(2))

Intercept is [6146.29870291]
coef is [[-1829.8871575     -8.60499398   831.2900231     16.84686307
    498.1943621   3457.07275091   264.54822729]]
MSE is 1853022.96
RMSE is 1361.26
R^2 is 0.86

In [52]:
LR.fit(X36,Y)
Y36_pred = LR.predict(X36)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y36_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y36_pred))).round(2))
print('R^2 is',r2_score(Y,Y36_pred).round(2))

Intercept is [2036.9475333]
coef is [[-5099.18130323   -64.12902322  2747.75212149    85.33398591
    859.72771275  6921.96455248   778.59163989]]
MSE is 1916743.26
RMSE is 1384.46
R^2 is 0.85

In [53]:
LR.fit(X37,Y)
Y37_pred = LR.predict(X37)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y37_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y37_pred))).round(2))
print('R^2 is',r2_score(Y,Y37_pred).round(2))

Intercept is [2260.36108448]
coef is [[-1.15056756e+00 -1.14344013e-07  1.49810486e-01  4.14067817e-06
   9.20823266e-01  2.22609394e+01  8.65357755e-03  9.47140892e-03]]
MSE is 2575311.27
RMSE is 1604.78
R^2 is 0.8

In [54]:
LR.fit(X38,Y)
Y38_pred = LR.predict(X38)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y38_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y38_pred))).round(2))
print('R^2 is',r2_score(Y,Y38_pred).round(2))

Intercept is [5883.25189244]
coef is [[-1.29911952e-02 -5.85221788e-13  9.44533679e-04  5.84792906e-10
   1.09956822e+00 -1.39573427e+00  4.41666365e-05  5.77372601e-06]]
MSE is 3403040.25
RMSE is 1844.73
R^2 is 0.74

In [55]:
LR.fit(X39,Y)
Y39_pred = LR.predict(X39)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y39_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y39_pred))).round(2))
print('R^2 is',r2_score(Y,Y39_pred).round(2))

Intercept is [-20775.386586]
coef is [[-1624.76591856    -9.14891379   723.58744816   -41.80307817
    -41.30694262  3156.75403738   117.58931149   978.79823087]]
MSE is 1620443.18
RMSE is 1272.97
R^2 is 0.88

In [56]:
LR.fit(X40,Y)
Y40_pred = LR.predict(X40)
print('Intercept is',LR.intercept_)
print('coef is',LR.coef_)
print('MSE is',mean_squared_error(Y,Y40_pred).round(2))
print('RMSE is',(np.sqrt(mean_squared_error(Y,Y40_pred))).round(2))
print('R^2 is',r2_score(Y,Y40_pred).round(2))

Intercept is [-37397.9513226]
coef is [[-4523.35982358   -68.4805612   2542.55926466  -326.97601353
   -144.06863309  6178.08869224   409.20688637  4656.19642365]]
MSE is 1696215.13
RMSE is 1302.39
R^2 is 0.87